@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f8faf9;
  --text: #0f172a;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--font-body), system-ui, sans-serif;
}
